{#
/**
 * @file
 * Default theme implementation to display a layout-kit--tabs-horizontal layout.
 *
 * Available variables:
 * - content: The original raw content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - layout_elements: Elements ready to use, each has:
 *   - title: Element title.
 *   - content: Element content.
 *   - id: Unique element id.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--kit',
    'layout--kit-tabs-horizontal',
  ]
%}
{% if layout_elements %}
  <div{{ attributes.addClass(classes) }}>
    <ul class="layout--kit-tabs-horizontal__header">
      {% for key in layout_elements|keys %}
        {% if layout_elements[key].content|render is not empty %}
          <li class="layout--kit-tabs-horizontal__header__item">
            <a class="layout--kit-tabs-horizontal__header__item__link layout--kit-refresh" href="#{{ layout_elements[key].id }}">
              {{ layout_elements[key].title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% for key in layout_elements|keys %}
      {% if layout_elements[key].content|render is not empty %}
        <div id="{{ layout_elements[key].id }}" class="layout--kit-tabs-horizontal__item__content">
          {{ layout_elements[key].content }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
