/**
 * @file
 * Provides the layout styles for layout_kit__tabs_vertical.
 */
.layout--kit-tabs-vertical * {
  box-sizing: border-box;
}
.layout--kit-tabs-vertical {
  display: flex;
  flex-wrap: wrap;
}

.layout--kit-tabs-vertical__header {
  width: 30%;
  min-width: 100px;
  word-break: break-word;
  flex-grow: 1;
}

.layout--kit-tabs-vertical__item__content {
  min-width: 150px;
  flex-grow: 1;
  width: 70%;
}

.layout--kit-tabs-vertical__header__item__link {
  border: 0;
  width: 100%;
}

.layout--kit-tabs-vertical___header__item {
  margin: 0;
}

.layout--kit-tabs-vertical.ui-tabs .ui-tabs-nav {
  background: none;
  padding: 0;
  border: 0;
}
.layout--kit-tabs-vertical.ui-tabs .ui-tabs-nav li {
  border-bottom-width: 1px;
  width: 100%;
  white-space: normal;
}
